

<nav class="navbar navbar-light bg-light">
    <a href="{% url 'tourlist' %}" class="navbar-brand">Tours</a>

    <ul class="navbar nav">
        <li class="nav-item">
            <a href="{% url 'tourlist' %}" class="nav-link">Home</a>
        </li>
         <li class="nav-item">
            <a href="#" class="nav-link">More</a>
        </li>
         <li class="nav-item">
            <a href="#" class="nav-link">More</a>
        </li>
         <li class="nav-item">
            <a href="#" class="nav-link">More</a>
        </li>
         <li class="nav-item">
            <a href="#" class="nav-link">More</a>

    </ul>
</nav>




<br>
<br>
  <form action="{% url 'searchtour' %}" class="form-search">
  <div class="row">

      <div class="col-lg-8 mr-6 ml-6 col-md-10 col-sm-10 col-9 py-3">
      <input class="form-control" type="text" placeholder="Search destination, category Here" aria-label="Search" name="q" value="{{ request.GET.q}}">
      </div>
      <div class="col-lg-4  col-md-2 col-sm-2 col-3 py-3">
           <button class="btn btn-outline-success " type="submit" >Search</button>
      </div>

      <div class="col-12">
      <hr class="border-success">
  </div>
</div>
        </form>
<br>
<br>
